body { 
  font-family: 'Passion One';
  font-size: 2em;
  background-color: rgb(194, 193, 187);
  margin: 0; 
  padding: 0;
}

#title-background {
 width: 100%;
   width: 100vw;
 }

#black {
  position: relative;
  top: -5px;
  width: 100%;
  width: 100vw;
  background-color: black;
  height: 20px;
  }

.muddy {
  padding-top: 50px;
}

#monsterra1 {
   width: 100%;
   width: 100vw;
 }

#monsterra {
   width: 100%;
   width: 100vw;
 }

.info {
  font-family: 'Barrio';
  font-size: 1em;
  background-color: black;
  color: grey;
}
.footer {
  font-family: 'Passion One';
}
