body { 
  font-family: 'Passion One';
  font-size: 2em;
  background-color: rgb(194, 193, 187);
  margin: 0; 
  padding: 0;
}

#title-background {
 width: 100%;
   width: 100vw;
 }

.black {
  width: 90%;
  padding-left: 15vw;
}

.muddy {
  padding-top: 50px;
}

.monsta {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

#monsterra1 {
   width: 100%;
   width: 100vw;
 }

#monsterra {
   width: 100%;
   width: 100vw;
 }
#monsterra2 {
   width: 100%;
   width: 100vw;
 }
#monsterra2a {
   width: 100%;
   width: 100vw;
 }
.info {
  width: 100%;
  font-family: 'Barrio';
  font-size: 1em;
  background-color: black;
  color: grey;
}
.footer {
  font-family: 'Passion One';
}
.intros {
  color: black;
  text-align: center;
  font-family:'Barrio';
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.monsters {
  padding-top: 100px;
  padding-bottom: 0px;
  width: 100%;
  background-image: url("monsterra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#misty {
  background-image: url("mglistytlo5.png");
  background-repeat: no-repeat;
  background-size: cover;
}  
.picture {
  width: 100%;
}
#picture3 {
  width: 120%;
}

a:link {
    color: Grey;
  }
.info a {
  color: grey;
}
  
  a:hover {
    color: DodgerBlue;
  }

@media only screen and (max-width: 500px) {
  .monsta {
    padding-left: 0px;
    padding-right: 0px;
  }
}
 @media only screen and (max-width: 600px) {
    .monsters {
      padding-top: 40px;
      
    }
    #intro {
      padding-top: 20px;
      padding-bottom: 20px;
   }
  }
#messages {
  padding-left: 15vw;
  padding-bottom: 80px;
}
