body { 
  font-family: 'Passion One';
  font-size: 2em;
  background-color: rgb(194, 193, 187);
  margin: 0; 
  padding: 0;
}

#title-background {
 width: 100%;
   width: 100vw;
 }
a:link {
    color: grey;
}
a:hover {
    color: DodgerBlue;
}
.black {
  width: 90%;
  padding-left: 15vw;
}
/*#black {
  position: relative;
  top: -5px;
  width: 100%;
  width: 100vw;
  background-color: black;
  height: 20px;
  }*/

.muddy {
  padding-top: 50px;
}

.monsta {
  padding-left: 15vw;
  padding-right: 150px;
}

#monsterra1 {
   width: 100%;
   width: 100vw;
 }

#monsterra {
   width: 100%;
   width: 100vw;
 }
#monsterra2 {
   width: 100%;
   width: 100vw;
 }
#monsterra2a {
   width: 100%;
   width: 100vw;
 }
.info {
  width: 100%;
  font-family: 'Barrio';
  font-size: 1em;
  background-color: black;
  color: grey;
}
.footer {
  font-family: 'Passion One';
}
#intro {
  color: black;
  text-align: center;
  font-family:'Barrio';
  padding-top: 50px;
  padding-bottom: 50px;
}

.monsters {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-image: url("monsterra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
